@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500&family=Poppins&display=swap');

body {
  background-color: #36b3b3;
}

input {
  opacity: 0.8;
}

button {
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
}

button:hover {
  background-color: #277e7e;
}