@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500&family=Poppins&display=swap");

* {
  text-decoration: none;
}

body {
  background-color: #36b3b3;
}

input {
  opacity: 0.7;
}

button {
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  height: 40px;
  border: solid #277e7e;
}

button:hover {
  background-color: #277e7e;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
}

h2 {
  font-family: "Poppins", sans-serif;
  line-height: 22px;
}

h3 {
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
}

p2 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

p3 {
  font-family: "Poppins", sans-serif;
}

label {
  font-family: "Poppins", sans-serif;
}

link {
  text-decoration: none;
}
