.hide {
    display: none;
}

.landing-outer {
    display: flex;
    flex-direction: column;
}

.welcome {
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    text-align: center;
}

.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
    margin-top: -30px;
}

.login {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 300px;
    border: 2px solid black;
}

.input-outer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.button-box {
    display: flex;
    justify-content: center;
}

.newuser {
    display: flex;
    height: 200px;
    width: 300px;
    border: 2px solid black;
    margin-left: 20px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.login-input{
    display: flex;
}

@media screen and (max-width: 883px){
    .landing {
        flex-direction: column;
        margin-top: 30px;
    }

    .login {
        margin-bottom: 50px;
    }

    .newuser {
        margin-left: 0px;
    }
}